<section class='my-space-l flex flex-col gap-y-space-m'>
  <div class='container mb-space-xs mt-space-m'>
    <h2 class='mb-space-s font-serif'>{{ section.settings.title }}</h2>
    <p class='text-fluid-7'>{{ section.settings.text }}</p>
  </div>
  <img
    src='{{ section.settings.image | image_url: width: 500 }}'
    alt='{{ section.settings.image.alt | escape }}'
    width='500'
    height='{{ 500 | divided_by: section.settings.image.aspect_ratio | ceil }}'
    loading='lazy'
  >
</section>

{% schema %}
{
  "name": "About us",
  "tag": "section",
  "class": "about-us",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    }
  ]
}
{% endschema %}
