<section>
  {{
    section.settings.video
    | video_tag:
      image_size: '1100x',
      autoplay: true,
      loop: true,
      muted: true,
      class: 'h-screen w-full object-cover object-center'
  }}
</section>

{% schema %}
{
  "name": "main-video",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    }
  ]
}
{% endschema %}
